<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
      <link rel="stylesheet" href="foundation-6/css/foundation.css">
    <link rel="stylesheet" href="foundation-6/css/app.css">
    {% block bg %}
    <style>
        .topbar-center-logo {
          background: #2c3840;
        }

        .topbar-center-logo .menu {
          background: #2c3840;
        }

        .topbar-center-logo .menu a {
          color: #fefefe;
        }

        .topbar-center-logo .top-bar-center {
          -webkit-flex: 1 0 auto;
              -ms-flex: 1 0 auto;
                  flex: 1 0 auto;
        }

        @media screen and (max-width: 39.9375em) {
          .topbar-center-logo .top-bar-center {
            display: none;
          }
        }

    </style>
    {% endblock %}
  </head>

  <body bgcolor="#F5B039">
    {% block navbar %}
    <!--
    <div class="row">
    <div class="large-3 columns">
        <img src="logo.jpg">
    </div>
    -->
    <!-- Nav -->
    <!--
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="active"><a href="#">About</a></li>
            <li class="divider"></li>
            <li><a href="/schedule.html">Schedule</a></li>
            <li class="divider"></li>
            <li><a href="#">Calendar</a></li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Class by Age</a>
                <ul class="dropdown">
                    <li><label>Class by Age</label></li>
                    <li><a href="#">Dropdown Level 3a</a></li>
                    <li><a href="#">Dropdown Level 3b</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Class by Genra</a>
                <ul class="dropdown">
                    <li><label>Class by Genra</label></li>
                    <li><a href="#">Dropdown Level 3a</a></li>
                    <li><a href="#">Dropdown Level 3b</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown"><a href="#">Class by Season</a>
                <ul class="dropdown">
                    <li><label>Class by Season</label></li>
                    <li><a href="#">Dropdown Level 3a</a></li>
                    <li><a href="#">Dropdown Level 3b</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Dropdown Level 3c</a></li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>
    </section>
    -->
    <div class="top-bar topbar-center-logo" id="topbar-center-logo">
  <div class="top-bar-left">
    <ul class="menu vertical medium-horizontal">
      <li><a href="#">Create New Conversation</a></li>
    </ul>
  </div>
  <div class="top-bar-center">
    <a href="#"><img src="logo.jpg" alt="logo" /></a>
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
      <li><a href="#">See Old Conversation</a></li>

    </ul>
  </div>
</div>

    {% endblock %}

    {% set msgs = get_flashed_messages() %}
    {% for message in msgs %}
    {{message}}
    {% endfor %}


    {% block content %}

    {% endblock %}

    <br><br>

    {% block footer %}
    {% endblock %}


  </body>
</html>