{% extends "base.html" %}
{% block title %}
    Old Conversations
{% endblock %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="row" style="margin-top:5%">
<div class="col-lg-8">
<div id="chat">
  {{ clever_output }}
  <hr>
</div>

<form name="msg" id="msg">
      <input name="clever_input" type="text" id="clever_input">
      <input name="conv_id" type="hidden" value="{{conv_id}}">
      <input name="cs" type="hidden" value="{{cs}}">
      <input name="submit_clever_input" type="submit" value="Send">
</form>

<script>
$(document).ready(function() {
  $(function() {
    $('#msg').submit(function(e) {
      e.preventDefault();
      var data = $("#msg :input").serializeArray();
      var i = $("#clever_input").val();
      $("#chat").append("user: " + i + "<hr>");
      $("#clever_input").val("");  //clears the text box
      // console.log(data);
      // passes get request to path clever_output and waits for a response
      $.getJSON('/clever_output', data , function(data) {
        // console.log(data);
        $("#chat").append("bot: " + data.result + "<hr>");
      });
      return false;
    });
  });
});
</script>
</div>
<!--
<div class="col-lg-4">
  <p>Featured GIF: <b>{{ keyword }}</b></p>
  <img src={{new_gif}} width=100%>
  <p><i>Current GIF:
  <img src={{saved_gif}} width=50%>
</div>-->
</div>


{% endblock %}
