{% extends "base.html" %}
{% block title %}
    Old Conversations
{% endblock %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div class="row" style="margin-top:5%">
  <div class="col">
    <div id="chat">
      {{ clever_output }}
      <hr>
    </div>
    <form name="msg" id="msg" class="form-inline">
          <input class = "form-control" name="clever_input" type="text" id="clever_input">
          <input class = "form-control" name="conv_id" type="hidden" value="{{conv_id}}">
          <input id="cs" class = "form-control" name="cs" type="hidden" value="{{cs}}">
          <button class = "btn btn-warning" name="submit_clever_input" value="Send"> Submit </button>

    </form>
  </div>

  <div id="div_old_pic" class="col">
    Conversation GIF: <br /><br />
    <img id="old_pic" src="" width="100%" alt="">
    <hr>
    <i>New GIF?</i><br /><br />
    <img id="new_pic" src="" width="50%" alt="">
    <br />
    <form id="choose_new">
      <input id="conv_id" class = "form-control" name="conv_id" type="hidden" value="{{conv_id}}">
      <input class="btn btn-warning" type="submit" value="Save GIF">
    </form>
  </div>

<!-- <div id="div_new_pic" class="">
  <img id="new_pic" src="" height ="50" width="50" alt="new picture for you">
  <form id="choose_new">
    <input type="submit" value="Send">
  </form> -->

</div>
<br />
<br />
<hr>
<form action="/old">
  <button type="submit" class="btn btn-warning btn-block">Finish Conversation</button>
</form>
<!-- <form name="msg" id="msg">
      <input name="clever_input" type="text" id="clever_input">
      <input name="conv_id" type="hidden" value="{{conv_id}}">
      <input name="cs" type="hidden" value="{{cs}}">
      <input name="submit_clever_input" type="submit" value="Send"> -->




<script>
// function to update chat
var image;
$(document).ready(function() {
  $(function() {
    $('#msg').submit(function(e) {
      e.preventDefault();
      var data = $("#msg :input").serializeArray();
      var i = $("#clever_input").val();
      $("#chat").append("User: " + i + "<hr>");
      $("#clever_input").val("");  //clears the text box
      // console.log(data);
      // passes get request to path clever_output and waits for a response
      $.getJSON('/clever_output', data , function(data) {
        // console.log(data);
        $("#chat").append("Bot: " + data.result + "<hr>");
        image = data.gif;
        // console.log(image);
        $("#new_pic").attr("src", image);
        $("#cs").attr("value", data.cs);
        console.log(data.cs);
      });
      return false;
    });
  });
});

// function to select new favorite image
$(document).ready(function() {
  $(function() {
  $('#choose_new').submit(function(e) {
    e.preventDefault();
    var conv_id = $("#conv_id").val();
    var d = {conv_id: conv_id, image: image};
    console.log(d);
    $("#old_pic").attr("src", image);
    $.get("/save_gif", d);
    });
  });
});

</script>
</div>
<!--
<div class="col-lg-4">
  <p>Featured GIF: <b>{{ keyword }}</b></p>
  <img src={{new_gif}} width=100%>
  <p><i>Current GIF:
  <img src={{saved_gif}} width=50%>
</div>-->
</div>


{% endblock %}
