{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-2">
    <!-- for centering -->
  </div>
  <div class="col-8 text-center">
    <button class="btn btn-warning btn-lg"><a href="create_conv" class="convolink">Create New Conversation</a></button>
  </div>
  <div class="col-2">
    <!-- for centering -->
  </div></button>
</div>
<br /><br />
<div class="row">
  <div class="col-2">
    <!-- for centering -->
  </div>
  <div class="col-8 text-center">
    <button class="btn btn-warning btn-lg"><a href="old" class="convolink">See Old Conversations</a></button>
  </div>
  <div class="col-2">
    <!-- for centering -->
  </div>
</div>
{% endblock %}
