{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block style %}
  .convolink{
    color:#1EA896;
  }
  .convolink:hover{
    color:#3C91E6;
    text-decoration: none;
  }
{% endblock %}
{% block content %}
<br />
<div class="row">
  <div class="col-2">

  </div>
  <div class="col-8 text-center">
    <img src="/static/imgs/clevergif.png"  />
  </div>
</div>
<br /><br />
<div class="row">
  <div class="col-5 text-center" style="margin-right:-10%;margin-left:7.5%">
    <button class="btn btn-warning btn-lg"><a href="create_conv" class="convolink">Create New Conversation</a></button>
  </div>
  <div class="col-2">
  </div>
  <div class="col-5 text-center" style="margin-left:-5%;" >
    <button class="btn btn-warning btn-lg"><a href="old" class="convolink">See Old Conversations</a></button>
  </div>
</div>
{% endblock %}
