{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
<style>
</style>
{% block content %}
<br />
<div class="row">
  <div class="col-8 text-center">
    <img src="/static/imgs/clevergif.png" width=152% />
  </div>
</div>
<br /><br />
<div class="row">
  <div class="col-4 text-center">
    <button class="btn btn-warning btn-med"><a href="create_conv" class="convolink">Create New Conversation</a></button>
  </div>
  <div class="col-4">
      <!-- for centering -->
  </div>
  <div class="col-4 text-center">
    <button class="btn btn-warning btn-med"><a href="old" class="convolink">See Old Conversations</a></button>
  </div>
  <div class="col-2">
    <!-- for centering -->
  </div>
</div>
{% endblock %}
